@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --purple:#814096;
    --pink:#F83292;
    --gradient:linear-gradient(90deg, var(--purple) , var(--pink));

}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-align: justify;
    /* text-transform: capitalize; */
}

::selection {
    background: var(--pink);
    color: #fff;

}

html {
    font: 62.5%;
    overflow-x:hidden;
}

body {
    background: #f9f9f9;
}

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s ease-out linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading {
    text-align: center;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-size: 2rem;
    color: var(--purple);
}

header .logo span {
    color: blue;
}

header .navbar a {
    font-size:1.7rem ;
    margin-left: 2rem;
    color: var(--purple);
}

header .navbar a:hover {
    color: var(--pink);
}

header input {
    display: none;
}

header label {
    font-size: 3rem;
    color: var(--purple);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/home-bg-img.png) no-repeat;
    background-position: center;
    background-position: center;
}



.home .image img {
    width: 40vw;
    animation: float 3s linear infinite;
}

.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box {
    flex: 1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.features .box-container .box img {
    height: 15rem;
}
.features .box-container .box h3 {
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.features .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

@keyframes float {
    0%, 100%{
        transform: translate(0rem);
    }
    50%{
        transform: translate(-3.5rem);
    }
}

}



.home .content h3 {
    font-size:5.5rem ;
    color: #333;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--purple);
    text-transform: uppercase;
}

.home .content p {
    font-size:1.7rem ;
    color: #666;
    padding: 1rem 0;
}

.about {
    background: url(images/about-bg.png);
    background-size: cover;
    background-position: center;
}

.about .column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .column .image {
    flex: 1 1 40rem;
}

.about .column .image img {
    width: 100%;
}

.about .column .content{
    flex: 1 1 40rem;
}

.about .column .content h3 {
    font-size:3rem;
    color: #666;
}

.about .column .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.about .column .content .buttons a:last-child  {
    margin-left: 2rem;
}

.footer{
    padding-top: 3rem;
    background: url(images/footer-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box {
    flex:1 1 25rem;
    margin: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding:1rem 0 ;
    color: #fff;
    text-decoration: underline;
    text-underline-offset:1rem ;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    padding: .5rem 0 ;
    color: #eee;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: #eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: #fff;
    border-top: .1rem solid #fff5;
    padding:2.5rem 1rem ;
    text-align: center;
}

div.center {
    padding: 50px;
  }






/* Media Queries */

@media (max-width:1200px)  {
    html {
        font-size: 55%;
        overflow-x: hidden;
    }
    
}

@media (max-width:991px)  {
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
    }
    
}



@media (max-width:768px)  {
    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding:1rem 2rem ;
        border-top: .1rem solid rgba(0,0,0,.1);
        box-shadow: 0 .5rem 1rem solid rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;

    }
    header .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
        transition: .2s linear;
    }
    header input:checked ~ label::before{
        content:'\f00d'
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width: 100%;
    }

    .home .content h3 {
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

    .about{
        background-position: right;
    }
}



@media (max-width:450px)  {
        html {
            font-size: 50%;
        }
        .about .column .content a{
            width: 100%;
        }
        .about .column .content a {
            margin: 1rem 0;
        }
}
        
